.button{
  background-color: #00B0F9;
  padding: 24px 56px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  font-size: 18px;
  font-family: poppins-600;
  transition: all 0.3s;
}

.button:hover{
  filter: brightness(0.9);
}

@media (max-width: 600px) {
  .button{
    font-size: 16px;
    padding: 22px;
  }
}