.s_form{
    background-image: url('../../../public/bg-form.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    padding: 64px 0;
    .container_area{
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      gap: 88px;
      width: 100%;
      max-width: 1336px;
      margin: 0 auto;
      padding: 0 15px;

      .header{
        .title{
          color: #fff;
          font-size: 34px;
          font-family: poppins-600;
        }

        .paragraph{
          color: #fff;
          font-size: 18px;
          font-family: poppins;
          opacity: 70%;
          max-width: 424px;
        }
      }

      .form{
        display: flex;
        width: 100%;
        .inputFile{
          display: flex;
          flex-direction: column;
          gap: 16px;
          position: relative;
          .customInput{
            display: flex;
            align-items: flex-end;
            gap: 24px;
            .imageInfo{
              border-bottom: 1px solid #fff;
              color: #fff;
              font-size: 18px;
              font-family: poppins-300;
            }
          }
          .label{
            color: #fff;
            font-size: 18px;
            font-family: poppins-600;
          }
          .input{
            opacity: 0;
            position: absolute;
            margin-top: -26px;
            height: 32px;
            left: 0;
            cursor: pointer;
          }
        }
      
        .inputs{
          display: flex;
          flex-direction: column;
          gap: 32px;
          width: 100%;
          max-width: 648px;
          align-self: start;
          .inputArea{
            display: flex;
            flex-direction: column;
            gap: 12px;
            position: relative;
        
            .label{
              color: #fff;
              font-size: 18px;
              font-family: poppins-600;
            }
        
            .input{
              outline: none;
              background-color: #2940512B;
              border-bottom: 0;
              border-top: 1px solid #47565E;
              border-left: 1px solid #47565E;
              border-right: 1px solid #47565E;
              width: 100%;
              max-width: 542px;
              border-radius: 50px;
              padding: 24px;
              font-size: 16px;
              color: #fff;
            }
        
            .input::-webkit-inner-spin-button,
            .input::-webkit-outer-spin-button{
              display: none;
            }
        
           .error{
            color: rgb(169, 54, 54);
            font-size: 14px;
            font-family: poppins;
            position: absolute;
            bottom: -32px;
           }
          }
        }
      
      
      }
    }
}


@media (max-width:946px) {
  .s_form{
    .container_area{
      .header{
        .title{
          font-size: 24px;
        }
      }
      .form{
        gap: 64px;
        flex-direction: column-reverse;
      }
    }
  }
}