.s_form{
    background-image: url('../../../public/bg-form.png');
    background-size: contain;
    background-position: center center;
    width: 100%;
    padding: 64px 0;
    .container_area{
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      gap: 88px;
      width: 100%;
      max-width: 1336px;
      margin: 0 auto;
      padding: 0 15px;

      .header{
        .title{
          color: #fff;
          font-size: 34px;
          font-family: poppins-600;
        }

        .paragraph{
          color: #fff;
          font-size: 18px;
          font-family: poppins;
          opacity: 70%;
          max-width: 424px;
        }
      }

      .form{
        display: flex;
        width: 100%;
        .inputFile{
          display: flex;
          flex-direction: column;
          gap: 16px;
          position: relative;
          .customInput{
            display: flex;
            align-items: flex-end;
            gap: 24px;
            .imageInfo{
              text-decoration: underline;
              color: #fff;
              font-size: 18px;
              font-family: poppins-300;
            }
          }
          .label{
            color: #fff;
            font-size: 18px;
            font-family: poppins-600;
          }
          .input{
            opacity: 0;
            position: absolute;
            height: 32px;
            left: 0;
            cursor: pointer;
          }
        }
      
        .inputs{
          display: flex;
          flex-direction: column;
          gap: 32px;
          width: 100%;
          max-width: 648px;
          align-self: start;
          .inputArea{
            display: flex;
            flex-direction: column;
            gap: 12px;
            position: relative;
        
            .label{
              color: #fff;
              font-size: 18px;
              font-family: poppins-600;
            }
        
            .input{
              outline: none;
              /* border-image-source: linear-gradient(161.06deg, #47565E 36.03%, rgba(0, 0, 0, 0) 81.17%); */
              background-color: #2940512B;
              border: 2px solid #47565E;
              width: 100%;
              max-width: 542px;
              border-radius: 50px;
              padding: 24px;
              font-size: 16px;
              color: #fff;
            }
        
            .input::-webkit-inner-spin-button,
            .input::-webkit-outer-spin-button{
              display: none;
            }
        
           .error{
            color: rgb(169, 54, 54);
            font-size: 14px;
            font-family: poppins;
            position: absolute;
            bottom: -32px;
           }
          }
        
          .button{
            background-color: #00B0F9;
            border: none;
            font-family: poppins-600;
            border-radius: 50px;
            padding: 24px;
            font-size: 16px;
            color: #000;
            width: 40%;
          }
        }
      
      
      }
    }
}
