.daily__schedule{
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  max-width: 1154px;
  margin-bottom: 40px;
  .header{
    display: flex;
    align-items: center;
    gap: 64px;
    .span{
      background: linear-gradient(160.55deg, #47565E 20.22%, rgba(44, 56, 62, 0) 71.69%),
      linear-gradient(0deg, rgba(87, 107, 120, 0.17), rgba(87, 107, 120, 0.17));
      border-radius: 50px;
      border-top: 1px solid #47565E;
      border-left: 1px solid #47565E;
      border-right: 1px solid #47565E;
      color: #fff;
      font-size: 24px;
      font-family: poppins;
      font-weight: 600;
      width: 100%;
      max-width: 72px;
      height: 68px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .special__title{
      font-size: 22px;
      font-family: poppins;
      color: #fff;
      font-weight: 600;
    }
  }

  .children{
    display: flex;
    flex-direction: column;
    padding-left: 106px;
    width: 100%;
    max-width: 1154px;
    gap: 24px;
    margin-left: 32px;
    border-left: 2px solid #4FFF56;
  }
}

.daily__schedule:nth-child(2){
  .children{
    border-left: 2px solid #FFCE4F;
  }
}

.daily__schedule:nth-child(3){
  .children{
    border-left: 2px solid #B5B9BB;
  }
}


@media (max-width:786px) {
  .daily__schedule{
    padding-right: 32px;
    .header{
      gap: 18px;
      align-items: flex-start;
      .special__title{
        font-size: 18px;
      }
      .span{
        font-size: 18px;
        max-width: 40px;
        height: 40px;
      }
    }
    .children{
      gap: 32px;
      padding-left: 40px;
      margin-left: 18px;
    }
  }
}
