.s__other__event{
  background-color: #030F16CC;
  padding: 124px 0;
  .container__area{
    width: 100%;
    max-width: 1356px;
    margin: 0 auto;
    padding: 0 15px;

    display: flex;
    flex-direction: column;
    gap: 64px;

    .title{
      font-family: poppins;
      font-weight: 600;
      color: #fff;
      font-size: 24px;
    }
  }
}
