:root {
  --body-background: #030B10;
}

@font-face {
  font-family: poppins;
  src: url('../styles/fonts/poppins-v5-latin-regular.ttf');
}
@font-face {
  font-family: poppins-200;
  src: url('../styles/fonts/poppins-v5-latin-200.ttf');
}
@font-face {
  font-family: poppins-300;
  src: url('../styles/fonts/poppins-v5-latin-300.ttf');
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


body {
  background-color: var(--body-background);
  overflow-x: hidden;
}


html {
  overflow-x: hidden;
}
