.s_headline{
  margin: 188px 0 88px 0;


  .boxLight{
    top: -288px;
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    z-index: -1;
    .light{
      width: 100%;
      max-width: 1356px;
      margin: 0 auto;
    }
  }
  .container_area{
    width: 100%;
    max-width: 1356px;
    margin: 0 auto;
    padding: 0 15px;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 64px;
  
    .content_area{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      max-width: 800px;
      gap: 24px;
      .title{
        font-size: 40px;
        font-family: poppins-600;
        display: flex;
        width: 100%;
        color:#fff;
        max-width: 600px;
        justify-content: center;
        gap: 12px;
        .chevron{
          color: #00B0F9;
          width: 100%;
          max-width: 16px;
          height: 48px;
        }
      }
      
      .description{
        width: 100%;
        max-width: 600px;
        text-align: center;
        font-size: 16px;
        line-height: 26px;
        color:#fff;
        opacity: 70%;
        font-family: poppins-300;
      }
    }

    
   

    .apa_details{
      display: flex;
      flex-direction: column;
      gap: 32px;
      align-items: center;
      width: 100%;
      max-width: 980px;
      .buttons{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        gap: 32px;
        width: 100%;
        .warnings{
          display: flex;
          width: 100%;
          max-width: 268px;
          gap: 24px;
          .content{
            font-family: poppins-600;
            color: #FFFF;
            text-align: end;
            font-size: 14px;
            width: 100%;
          }
         .icon{
            background: linear-gradient(160.55deg, #47565E 20.22%, rgba(44, 56, 62, 0) 71.69%),
            linear-gradient(0deg, rgba(87, 107, 120, 0.17), rgba(87, 107, 120, 0.17));
            border-radius: 50px;
            border-top: 1px solid #47565E;
            border-left: 1px solid #47565E;
            border-right: 1px solid #47565E;
            width: 100%;
            max-width: 72px;
            height: 68px;
            display: flex;
            justify-content: center;
            align-items: center;
         }
        }
        .warnings.second{
          flex-direction: row-reverse;
          .content{
            text-align: start;
          }
        }
      }
      .link{
        display: flex;
        align-items: center;
        gap: 12px;
        font-family: poppins-200;
        color: #fff;
        opacity: 70%;
        font-size: 14px;
        text-decoration: none;
      }
    }
  }
}

@media (max-width: 1098px) {
  .s_headline{
    .container_area{
      .apa_details{
        .buttons{
          .warnings{
            flex-direction: row-reverse;
            .content{
              text-align: start;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 999px) {
  .s_headline{
    .container_area{
      .content_area{
        max-width: 999px;
        .content{
          max-width: 999px;
        }
      }
    }
  }
}

@media (max-width: 632px) {
  .s_headline{
    .container_area{
      .content_area{
       .title{
        font-size: 28px;
       }
      }
    }
  }
}