@font-face {
    font-family: poppins-600;
    src: url('../../styles/fonts/poppins-v5-latin-600.ttf');
  }

  @font-face {
    font-family: poppins-300;
    src: url('../../styles/fonts/poppins-v5-latin-300.ttf');
  }

  @font-face {
    font-family: poppins-200;
    src: url('../../styles/fonts/poppins-v5-latin-200.ttf');
  }
.container{
    margin: 124px 12vh;
}
.title{
    color:#fff;
    font-family: poppins-600;
    font-size: 28px;
    text-align: center;
}
.describe{
    color:#fff;
    font-family: poppins-200;
    font-size: 16px;
    text-align: center;
}
.content{
    background:rgba(41, 64, 81, 0.17);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    border: 1px solid #47565E;
    padding: 40px 88px 40px 40px;
}
.contentTitle{
    color:#fff;
    font-family: poppins-600;
    font-size: 20px;
    margin-bottom: 12px;
}
.describeContent{
    color:#fff;
    font-family: poppins-200;
    font-size: 16px;
}
.containerContent{
    margin-top: 64px;
}